/* start */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #edf1f5;
}
header{
    margin:20px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
img[alt="logo"]{
    scale:0.8;
}
/* navigation */
nav{
    margin-right:25px;
}
nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration:none;
    color:black;
    font-family: sans-serif;
    font-weight: 600;
}
/* main */
main{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
/* text */
.text{
    text-align: center;
  
}
.text>h1{
    color:#41d399;
    font-family: sans-serif;
    font-size: 28px;
}
.text>p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    
}
/* three boxes */
.three_boxes>div>h1{
    color: #41d399;
    font-size: 28px;
}
.three_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;

}
/* box */
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80px;
    width:160px;
    border-radius: 8px;
    box-shadow:0px 0px 5px 2px rgb(109, 108, 108);
    font-family: sans-serif;

}